.person {
    width: 50%;
    height: 100%;
  }
  
  .cards {
    transition: all 0.2s ease;
    cursor: pointer;
    gap: 0;
  }
  
  .cards:hover {
    border-left: 20px solid #ff7c00 !important;
    background-color: #fff;
  
  
  }
  
  .cards1 {
    transition: all 0.2s ease;
    cursor: pointer;
    gap: 0;
  }
  
  .cards1:hover {
    transform: scale(1.03);
    transition: 0.1s;
  }
  
  .card:hover {
    transform: scale(1.04);
    color: #414141 !important;
    transition: 0.1s;
  
  }
  